body{
    background-color: blanchedalmond;
}
tbody{
    background-color: blanchedalmond;
}

.tableHead{
    background-color: darkred;
    color: white;
}

td {
    border: solid 2px lightgrey;
}